PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL="file:./dev.db"

SMS_API_BASE_URL=https://example.com
SMS_API_TOKEN=replace_me
SMS_USER_REFERENCE=teamip3-demo

DEMO_USER_ID=demo
DEMO_USER_PASSWORD=password
DEMO_PHONE_NUMBER=09001111101
DEMO_SMS_CODE=1234
